@import "variable";
$transition-duration: 0.6s;
$rotate-angle: 180deg;
@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes expandDescription {
  from {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}

.collaps {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  &_header {
    width: 100%;
    height: 54px;

    padding: 10px 20px 10px 15px;
    border-radius: 5px;

    background-color: $primary-color;
    color: $secondary-color;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .open {
      animation: rotateIcon $transition-duration ease-in-out both;
    }
  }
  &_title {
    font-weight: 700;
    font-size: 18px;
  }
  &_description {
    overflow: hidden;
    max-height: 0;
    animation: expandDescription $transition-duration ease-in-out both;
    animation-delay: -200ms;
    width: 100%;
    padding: 10px;
    background-color: #f6f6f673;

    ul {
      display: flex;
      flex-direction: column;
      gap: 3px;
      animation: expandDescription $transition-duration ease-in-out both;
      animation-delay: -200ms;
    }
    li {
      list-style-type: none;
    }
    p {
      animation: expandDescription $transition-duration ease-in-out both;
      animation-delay: -200ms;
    }
  }
}
@media all and (max-width: 757px) {
  .collaps {
    flex: 1;
    &_header {
      min-height: 30px;
      max-height: 50px;
      flex: 1;
      border-radius: 5px;
      &_title {
        font-size: 13px;
      }
    }
  }
}
