@import "variable";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  height: 108px;
  &_logo {
    width: 210px;
    height: 68px;
    object-fit: cover;
  }
  &_nav_ul {
    display: flex;
    gap: 30px;
    padding-left: 0;
    justify-content: space-between;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $tertiary-color;
    font-weight: 500;
    font-size: 24px;
  }
  .active {
    text-decoration: underline;
  }
}
@media all and (max-width: 757px) {
  .header {
    padding: 20px;
    &_logo {
      width: 145px;
      height: 46.88px;
    }
    a {
      font-size: 12px;
    }
  }
}
