// @import "root";

html,
body {
  height: 100%;
}
// @import "header";
// @import "collaps";
// @import "picture";
.innerAbout {
  width: 100%;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 317px);

  section {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    flex: 2;
  }
}

// @import "footer";
